<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategoriaServlet</servlet-name>
        <servlet-class>web.CategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrincipalServlet</servlet-name>
        <servlet-class>web.PrincipalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoInfoServlet</servlet-name>
        <servlet-class>web.ProdutoInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UFServlet</servlet-name>
        <servlet-class>web.UFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoServlet</servlet-name>
        <servlet-class>web.CarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoServlet</servlet-name>
        <servlet-class>web.PedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>web.ProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriaServlet</servlet-name>
        <url-pattern>/categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrincipalServlet</servlet-name>
        <url-pattern>/principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoInfoServlet</servlet-name>
        <url-pattern>/produtoInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UFServlet</servlet-name>
        <url-pattern>/uf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoServlet</servlet-name>
        <url-pattern>/carrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoServlet</servlet-name>
        <url-pattern>/pedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/produto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
